.extension {
  width: 250px;
  height: 500px;
  border-radius: 10px;
}

[class*='MuiGrid-root'].browser {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 500px;
}

.debug {
  border: 2px black solid;
}

.header { 
  background-color: rgb(34, 177, 34);
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: -10px;
}

.header > h2 {
  padding: 5px;
}

.content {
  height: 350px;
  width: 250px;
}

.footer {
  color:aliceblue;
  background-color: rgb(34, 177, 34);
  height: 30px;
  width: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

label.text > span {
  font-family: 'Noto Serif Khojki', serif;
}

.form {
  width: 250px;
  height: 250px;
}

.form-button {
  text-transform: none;
  background-color: rgb(37, 209, 37);
  margin-left: 25px;
  width: 175px;
}

.form-button:hover {
  text-transform: none;
  background-color: rgb(0, 131, 0);
}

.form-controll {
  width: 250px;
  height: 30px;
  padding: 7px;
}

.start-screen-form-item {
  padding: 10px;
}

.token-screen-form-item {
  padding: 8px;
}

.work-screen-form-item {
  padding: 5px;
}
