.extension {
  width: 250px;
  min-height: 275px;
  max-height: 500px;
  border-radius: 10px 0 10px 10px;
}

[class*='MuiGrid-root'].browser {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 500px;
}

.debug {
  border: 2px black solid;
}

.header { 
  background-color: rgb(34, 177, 34);
  min-height: 20px;
  width: 100%;
  max-height: 100px;
  border-radius: 10px 0 0 0;
}

.header > h2 {
  padding: 5px;
}

.content {
  min-height: 350px;
  max-height: 450px;
  width: 250px;
}

.footer {
  color:aliceblue;
  background-color: rgb(34, 177, 34);
  height: 30px;
  width: 250px;
  border-radius: 0 0 10px 10px;
}

label.text > span {
  font-family: 'Noto Serif Khojki', serif;
}

.text {
  font-family: 'Noto Serif Khojki', serif;
  font-size: 12px;
}

.text.error {
  color: red;
}

.MuiButton-root.MuiButton-contained {
  text-transform: none;
  background-color: rgb(37, 209, 37);
  width: 175px;
}

.MuiButton-root.MuiButton-contained:hover {
  text-transform: none;
  background-color: rgb(0, 131, 0);
}

